@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

p{
  font-size: 1em;
  font-weight: 400;
}
h1{
  font-size: 3.5em;
  font-weight: 600;
  font-weight: bold;
  unicode-bidi: isolate;
}
h2{
  font-size: 2.5em;
  font-weight: 500;
  font-weight: bold;
  unicode-bidi: isolate;
}
h3{
  font-size: 2em;
  font-weight: 450;
  font-weight: bold;
  unicode-bidi: isolate;
}
h4{
  font-size: 1.65em;
  font-weight: 400;
  font-weight: bold;
  unicode-bidi: isolate;
}
h5{
  font-size: 1.45em;
  font-weight: 400;
  font-weight: bold;
  unicode-bidi: isolate;
}
h6{
  font-size: 1.25em;
  font-weight: 400;
  font-weight: bold;
  unicode-bidi: isolate;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  padding: 8px;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  flex: 1;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.glass-container {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  padding: 20px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  width: 100%;
}

.avatar {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #ffffff;
}

.nav-link{
  text-decoration: none;
  background-color: #EEEEEE;
  font-size: 28px;
  padding: 12px 24px;
  margin: auto 4px auto 4px;
}

.nav-link.active{
  text-decoration: none;
  color: white;
  font-size: 28px;
  padding: 12px 24px;
  margin: auto 4px auto 4px;
}

.table{
  font-size: 1.36em;
  font-weight: 300;
}

th{
  font-size: 1.42em;
  font-weight: 800;
}

.table-striped>tbody>tr:nth-of-type(odd)>* {
  --bs-table-color-type: var(--bs-table-striped-color);
  --bs-table-bg-type: var(--bs-table-striped-bg);
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(255, 255, 255, 0.1);
}

.divider {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.profile-text{
  font-size: 24px;
  padding: 6px;
}